.LoginPage {
    text-align: center;
}

body {
    background-image: url("../images/desk6.jpg");
}

.LoginPage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #75979C;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
}

#signInButtons {
    display: flex;
    flex-direction: row;
}

#signInButtons button {
    font-size: 1.2em;
}

#title {
    font-size: 2.5em;
}

input {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.errorMessage {
    color: darkred;
}

button {
    margin: 5px;
    padding: 6px;
    border-radius: 5px 10px;
}

button:hover {
    background-color: #75979C;
}